.songs-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.songs-table th,
.songs-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.songs-table th {
  text-align: left;
}

/* .songs-table tr:nth-child(even) {

  } */

.songs-table tr:hover {
  background-color: #6b6b6b;
}



.songs-table th,
.songs-table td {
  padding: 12px 15px;
  text-align: left;
}

.complete {
  background-color: rgb(58, 83, 58);
}

.incomplete {
  background-color: rgb(88, 66, 66);
}

.ongoing {
  background-color: rgb(112, 112, 78);
}

.sort, .edit, .delete {
  cursor: pointer;
}

.actions {
  display: flex;
  gap: 1rem;
}

.new-song-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  gap: 1rem;
  margin-top: 1rem;
}

.new-song-button {
  cursor: pointer;
  font-size: 2rem; 
  /* asdasdasd */
}

@media screen and (max-width: 700px) {
  .songs-table {
    font-size: .5rem;
    width: 80vw;
  }
}

